<html lang="en">

<head>
    <title>{{.WebAppPageTitle}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/media/logos/favicon-thpost.ico" />
    {{- template "resource-css" -}}
    <link rel="stylesheet" href="/page-ads-form/css/index.css">
    <!--end::custom css for this page-->
    <script>
        const basepath = "{{.Basepath}}";
    </script>

</head>

<body id="kt_app_body" class="background-page" data-kt-app-layout="light-sidebar" data-kt-app-header-fixed="true"
    data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="false" data-kt-app-sidebar-hoverable="true"
    data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true"
    data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">

    <div class=" d-flex justify-content-center align-items-center flex-column gap-2 login-box" id="kt_app_root">
        <div class="app-page w-100  flex-column flex-column-fluid " id="kt_app_page">
            <!-- HEADER -->
            <div id="kt_app_header" class="app-header bg-4461F2">
                {{- template "header" . -}}
            </div>
            <!-- HEADER -->

            <div class="app-wrapper  flex-column flex-row-fluid" id="kt_app_wrapper">
                <div id="kt_app_sidebar" class="app-sidebar flex-column " data-kt-drawer="true"
                    data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: true}"
                    data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start"
                    data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
                    {{- template "sidebar" . -}}

                </div>

                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <div class="d-flex flex-column flex-column-fluid">
                        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
                            <div id="kt_app_toolbar_container" class="app-container container-fluid">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="fs-1 fw-bolder">
                                        <span>Ads</span>
                                    </div>
                                    <div class="w-350px input-group align-items-center" id="kt_td_picker_start"
                                        data-td-target-input="nearest" data-td-target-toggle="nearest">
                                        <div>
                                            <span class="fs-14  align-middle" style="margin-right: 10px;">วันที่
                                                :</span>
                                        </div>
                                        <input id="kt_td_picker_start_input" type="text" class="form-control w-200px"
                                            data-td-target="#kt_td_picker_start" />
                                        <span class="input-group-text" data-td-target="#kt_td_picker_basic"
                                            data-td-toggle="datetimepicker">
                                            <i class="ki-duotone ki-calendar fs-2"><span class="path1"></span><span
                                                    class="path2"></span></i>
                                        </span>
                                    </div>
                                </div>

                                <!-- <div class="card p-5 mt-5">
                                    <div class="row row-cols-3 g-8">
                                        <div class="col">
                                            <div class="">
                                                <label for="" class="required form-label fs-5">วันที่</label>
                                                <input class="form-control" placeholder="Pick a date"
                                                    id="kt_datepicker_1" />
                                                <span v-text="errors.date_time" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="">
                                                <label for="exampleFormControlInput1"
                                                    class="required form-label fs-5">ชื่อ
                                                    ADS</label>
                                                <input type="text" class="form-control" placeholder="กรอก ชื่อ ADS"
                                                    v-model="form.name" />
                                                <span v-text="errors.name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="">
                                                <label for="exampleFormControlInput1"
                                                    class="required form-label fs-5">ร้าน</label>
                                                <select class="form-select" data-control="select2" id="select_shop"
                                                    name="select_shop" data-placeholder="เลือก ร้าน">
                                                    <option></option>
                                                    <option value="1">Option 1</option>
                                                    <option value="2">Option 2</option>
                                                </select>
                                                <span v-text="errors.shop" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="">
                                                <label for="exampleFormControlInput1"
                                                    class="required form-label fs-5">สินค้า</label>
                                                <select class="form-select" data-control="select2" id="select_product"
                                                    name="select_product" data-placeholder="เลือก สินค้า">
                                                    <option></option>
                                                    <option value="1">Option 1</option>
                                                    <option value="2">Option 2</option>
                                                </select>
                                                <span v-text="errors.product" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="">
                                                <label for="exampleFormControlInput1"
                                                    class="required form-label fs-5">สถานะ</label>
                                                <select class="form-select form-select-solid" data-control="select2" disabled id="select_status" name="select_status"
                                                    data-hide-search="true" data-placeholder="เลือก สถานะ">
                                                    <option></option>
                                                    <option value="active" selected>เปิดใช้งาน</option>
                                                    <option value="inactive">ปิดใช้งาน</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-cols-3 g-8 mt-5">
                                        <div class="col">
                                            <div class="">
                                                <label for="exampleFormControlInput1"
                                                    class="required form-label fs-5">ค่าใช้จ่ายทั้งหมด</label>
                                                <input type="text" class="form-control"
                                                    placeholder="กรอก ค่าใช้จ่ายทั้งหมด" v-model="form.total_cost" />
                                                <span v-text="errors.total_cost" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="">
                                                <label for="exampleFormControlInput1"
                                                    class="required form-label fs-5">งบประมาณ</label>
                                                <input type="text" class="form-control" placeholder="กรอก งบประมาณ"
                                                    v-model="form.budget" />
                                                <span v-text="errors.budget" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="">
                                                <label for="exampleFormControlInput1"
                                                    class="required form-label fs-5">รายได้รวม(ร้านค้า)</label>
                                                <input type="text" class="form-control"
                                                    placeholder="กรอก รายได้รวม(ร้านค้า)" v-model="form.total_income" />
                                                <span v-text="errors.total_income" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="">
                                                <label for="exampleFormControlInput1"
                                                    class="required form-label fs-5">ต้นทุนต่อการซื้อ(ร้านค้า)</label>
                                                <input type="text" class="form-control"
                                                    placeholder="กรอก ต้นทุนต่อการซื้อ(ร้านค้า)"
                                                    v-model="form.cost_per_purchase" />
                                                <span v-text="errors.cost_per_purchase" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="">
                                                <label for="exampleFormControlInput1"
                                                    class="required form-label fs-5">การซื้อ</label>
                                                <input type="text" class="form-control" placeholder="กรอก การซื้อ" v-model="form.purchase"/>
                                                <span v-text="errors.purchase" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="">
                                                <label for="exampleFormControlInput1"
                                                    class="form-label fs-5">โน้ต</label>
                                                <input type="text" class="form-control" placeholder="" v-model="form.note"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-5">
                                        <div class="d-flex justify-content-end ailgn-items-center">
                                            <button class="btn btn-primary w-100px" @click="savePage">บันทึก</button>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="card p-5 mt-5">
                                    <div class="d-flex justify-content-end align-items-center gap-5">
                                        <div>
                                            <button class="btn btn-primary" @click="addAds">เพิ่ม Ads</button>
                                        </div>
                                        <div v-if="dataAds.length > 0">
                                            <button class="btn btn-success w-100px" @click="savePage">บันทึก</button>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="w-350px input-group align-items-center" id="kt_td_picker_start" data-td-target-input="nearest"
                                            data-td-target-toggle="nearest">
                                            <div>
                                                <span class="fs-14  align-middle" style="margin-right: 10px;">วันที่
                                                    :</span>
                                            </div>
                                            <input id="kt_td_picker_date_input" type="text" class="form-control w-200px"
                                                data-td-target="#kt_td_picker_start" />
                                            <span class="input-group-text" data-td-target="#kt_td_picker_basic" data-td-toggle="datetimepicker">
                                                <i class="ki-duotone ki-calendar fs-2"><span class="path1"></span><span class="path2"></span></i>
                                            </span>
                                            <span v-if="errors_date && errors_date.date" v-text="errors_date.date" class="text-danger"></span>
                                        </div>
                                        <div class="d-flex justify-content-end align-items-center gap-5">
                                            <div>
                                                <button type="button" @click="addAds" class="btn btn-primary w-150px">เพิ่ม
                                                    ADS</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive border rounded-4 mt-5">
                                        <table class="table table-row-dashed table-row-gray-300 gy-6 gs-7 mb-0">
                                            <thead>
                                                <tr class="fw-bold fs-5">
                                                    <th class="min-w-100px align-middle">
                                                        <div
                                                            class="d-flex justify-content-center gap-5 align-items-center pointer">
                                                            <i class="bi-calendar3"></i>
                                                            <span>วันที่</span>
                                                        </div>
                                                    </th>
                                                    <th class="min-w-200px align-middle">
                                                        <div
                                                            class="d-flex justify-content-start gap-5 align-items-center pointer">
                                                            <i class="bi-type flex-shrink-1"></i>
                                                            <div class="row w-100">
                                                                <span>ชื่อ</span>
                                                                <span>ADS</span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th class="min-w-100px align-middle">
                                                        <div
                                                            class="d-flex justify-content-start gap-5 align-items-center pointer">
                                                            <i class="bi-type"></i>
                                                            <div class="row">
                                                                <span>สินค้า</span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th class="min-w-100px align-middle">
                                                        <div
                                                            class="d-flex justify-content-center gap-5 align-items-center pointer">
                                                            <i class="bi-toggles"></i>
                                                            <div class="row">
                                                                <span>สถานะ</span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th class="min-w-100px align-middle">
                                                        <div
                                                            class="d-flex justify-content-center gap-5 align-items-center pointer">
                                                            <i class="bi-cash-stack"></i>
                                                            <div class="row ms-2">
                                                                <span>ค่าใช้จ่ายทั้งหมด</span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th class="min-w-100px align-middle">
                                                        <div
                                                            class="d-flex justify-content-around align-items-center pointer">
                                                            <i class="bi-cash-stack"></i>
                                                            <div class="row">
                                                                <span>งบประมาณ</span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th class="min-w-150px align-middle">
                                                        <div
                                                            class="d-flex justify-content-around align-items-center pointer">
                                                            <i class="bi-cash-stack"></i>
                                                            <div class="row">
                                                                <span>รายได้รวม(ร้านค้า)</span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th class="min-w-200px align-middle">
                                                        <div
                                                            class="d-flex justify-content-around align-items-center pointer">
                                                            <i class="bi-cash-stack"></i>
                                                            <div class="row">
                                                                <span>ต้นทุนต่อการซื้อ(ร้านค้า)</span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th class="min-w-50px align-middle">
                                                        <div
                                                            class="d-flex justify-content-around align-items-center pointer">
                                                            <div class="row">
                                                                <span>การซื้อ</span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th class="min-w-150px align-middle">
                                                        <div
                                                            class="d-flex justify-content-start align-items-center pointer">
                                                            <div class="row">
                                                                <span>โน๊ต</span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="fs-6">
                                                <template v-for="(item, index) in dataAds">
                                                    <tr>
                                                        <td class="align-middle min-w-100px text-break">
                                                            <!-- <span v-text="utilsConvDate(item.date)"></span> -->
                                                            <div class="w-150px input-group align-items-center" id="kt_td_picker_start" data-td-target-input="nearest"
                                                                data-td-target-toggle="nearest">
                                                                <input :id="'kt_td_picker_start_input_'+index" type="text" class="form-control w-200px"
                                                                    data-td-target="#kt_td_picker_start" />
                                                            </div>
                                                            <span v-if="errors[index] && errors[index].date" v-text="errors[index].date" class="text-danger"></span>
                                                        </td>
                                                        <td class="align-middle min-w-200px text-break">
                                                            <div class="d-flex justify-content-center align-items-center">
                                                                <input type="text" class="form-control w-150px" @input="handleInputN(item.name, index, 'name')"
                                                                    @keyup.enter="focusNext('name', index + 1)" v-model="item.name" :ref="'name_' + index"
                                                                    :class="{'border-danger': errors[index]?.name}" />
                                                            </div>
                                                        </td>
                                                        <td class="align-middle min-w-100px text-break">
                                                            <div class="d-flex justify-content-center align-items-center">
                                                                <input type="text" class="form-control w-150px" @input="handleInputN(item.product, index, 'product')"
                                                                    @keyup.enter="focusNext('product', index + 1)" v-model="item.product" :ref="'product_' + index"
                                                                    :class="{'border-danger': errors[index]?.product}" />
                                                            </div>
                                                        </td>
                                                        <td class="align-middle min-w-100px text-break">
                                                            <div
                                                                class="d-flex justify-content-center align-items-center">
                                                                <select class="form-select" data-control="select2" :id="'select_status_'+index" :name="'select_status_'+index"
                                                                    v-model="item.status"
                                                                    data-placeholder="Select Status">
                                                                    <option></option>
                                                                    <option value="active">เปิดการใช้งาน</option>
                                                                    <option value="inactive">ปิดการใช้งาน</option>
                                                                </select>
                                                            </div>
                                                            <span v-if="errors[index] && errors[index].status" v-text="errors[index].status" class="text-danger"></span>
                                                            <!-- <span v-if="item.status === 'active'"
                                                                v-text="'เปิดการใช้งาน'"></span>
                                                            <span v-else v-text="'ปิดการใช้งาน'"></span> -->
                                                        </td>
                                                        <td class="align-middle min-w-100px text-break text-center">
                                                            <div class="d-flex justify-content-center align-items-center">
                                                                <input type="text" class="form-control w-150px text-end"
                                                                    @input="handleInputN(item.total_cost, index, 'total_cost')"
                                                                    @keyup.enter="focusNext('total_cost', index + 1)" v-model="item.total_cost" :ref="'total_cost_' + index"
                                                                    :class="{'border-danger': errors[index]?.total_cost}" />
                                                            </div>
                                                        </td>
                                                        <td class="align-middle min-w-100px text-break text-center">
                                                            <div class="d-flex justify-content-center align-items-center">
                                                                <input type="text" class="form-control w-150px text-end" @keyup.enter="focusNext('budget', index + 1)"
                                                                    @input="handleInputN(item.budget, index, 'budget')" v-model="item.budget" :ref="'budget_' + index"
                                                                    :class="{'border-danger': errors[index]?.budget}" />
                                                            </div>
                                                        </td>
                                                        <td class="align-middle min-w-150px text-break text-center">
                                                            <div class="d-flex justify-content-center align-items-center">
                                                                <input type="text" class="form-control w-150px text-end"
                                                                    @keyup.enter="focusNext('total_shop_income', index + 1)"
                                                                    @input="handleInputN(item.total_shop_income, index, 'total_shop_income')" v-model="item.total_shop_income"
                                                                    :ref="'total_shop_income_' + index" :class="{'border-danger': errors[index]?.total_shop_income}" />
                                                            </div>
                                                        </td>
                                                        <td class="align-middle min-w-200px text-break text-center">
                                                            <div class="d-flex justify-content-center align-items-center">
                                                                <input type="text" class="form-control w-150px text-end"
                                                                    @input="handleInputN(item.cost_per_purchase, index, 'cost_per_purchase')"
                                                                    @keyup.enter="focusNext('cost_per_purchase', index + 1)" v-model="item.cost_per_purchase"
                                                                    :ref="'cost_per_purchase_' + index" :class="{'border-danger': errors[index]?.cost_per_purchase}" />
                                                            </div>
                                                        </td>

                                                        <td class="align-middle min-w-50px text-break">
                                                            <div class="d-flex justify-content-center align-items-center"></div>
                                                                <input type="text" class="form-control w-150px" @input="handleInputN(item.purchase, index, 'purchase')"
                                                                    @keyup.enter="focusNext('purchase', index + 1)" v-model="item.purchase" :ref="'purchase_' + index"
                                                                    :class="{'border-danger': errors[index]?.purchase}" />
                                                            </div>
                                                        </td>
                                                        <td class="align-middle min-w-150px text-break">
                                                            <div class="d-flex justify-content-center align-items-center"></div>
                                                                <input type="text" class="form-control w-150px" @input="handleInputN(item.note, index, 'note')"
                                                                    @keyup.enter="focusNext('note', index + 1)" v-model="item.note" :ref="'note_' + index"
                                                                    :class="{'border-danger': errors[index]?.note}" />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</body>
<script>
    window.csrfToken = {{.csrf_token }};
    window.pageAction = {{.page_action }};
</script>
{{- template "resource-js" -}}
<script src="/page-ads-form/js/services.js" type="module"> </script>
<script src="/page-ads-form/js/index.js" type="module"> </script>

</html>