<html lang="en">

<head>
    <title>{{.WebAppPageTitle}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/media/logos/favicon-thpost.ico" />
    {{- template "resource-css" -}}
    <link rel="stylesheet" href="/page-ads-form/css/index.css">
    <!--end::custom css for this page-->
    <script>
        const basepath = "{{.Basepath}}";
    </script>

</head>

<body id="kt_app_body" class="background-page" data-kt-app-layout="light-sidebar" data-kt-app-header-fixed="true"
    data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="false" data-kt-app-sidebar-hoverable="true"
    data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true"
    data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">

    <div class=" d-flex justify-content-center align-items-center vh-100 flex-column gap-2 login-box" id="kt_app_root">
        <div class="app-page w-100  flex-column flex-column-fluid " id="kt_app_page">
            <!-- HEADER -->
            <div id="kt_app_header" class="app-header bg-4461F2">
                {{- template "header" . -}}
            </div>
            <!-- HEADER -->

            <div class="app-wrapper  flex-column flex-row-fluid" id="kt_app_wrapper">
                <div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true"
                    data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: true}"
                    data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start"
                    data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
                    {{- template "sidebar" . -}}

                </div>

                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <div class="d-flex flex-column flex-column-fluid">
                        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
                            <div id="kt_app_toolbar_container" class="app-container container-fluid">
                                <div class="fs-1 fw-bolder">
                                    <span>Ads</span>
                                </div>

                                <div class="card p-5 mt-5">
                                    <div class="row gap-5">
                                        <div class="col">
                                            <label class="required fw-semibold fs-4 mb-2">Channel</label>
                                            <template v-for="(item, indexCh) in 5">
                                                <div class="form-check form-check-solid mb-3">
                                                    <input class="form-check-input" type="radio"
                                                        :id="'radio_input_channel_'+indexCh" value="channel"
                                                        name="radio_input_channel" />
                                                    <label class="form-check-label text-dark"
                                                        :for="'radio_input_channel_'+indexCh">test</label>
                                                </div>
                                            </template>
                                        </div>
                                        <div class="col">
                                            <label class="required fw-semibold fs-4 mb-2">Type</label>
                                            <template v-for="(item, indexTy) in 5">
                                                <div class="form-check form-check-solid mb-3">
                                                    <input class="form-check-input" type="radio"
                                                        :id="'radio_input_type_'+indexTy" value="channel"
                                                        name="radio_input_type" />
                                                    <label class="form-check-label text-dark"
                                                        :for="'radio_input_type_'+indexTy">test</label>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                                <div class="card p-5 mt-5">
                                    <div class="col">
                                        <label class="required fw-semibold fs-4 mb-2">name</label>
                                        <div class="d-flex align-items-center flex-wrap gap-3">
                                            <template v-for="(item, indexName) in 20">
                                                <div class="border-end align-middle pe-3 border-2 border-dark-subtle">
                                                    <div class="form-check form-check-solid">
                                                        <input class="form-check-input" type="radio"
                                                            :id="'radio_input_name_'+indexName" value="channel"
                                                            name="radio_input_name" />
                                                        <label class="form-check-label text-dark"
                                                            :for="'radio_input_name_'+indexName">test</label>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                                <div class="card p-5 mt-5">
                                    <div class="row gap-5">
                                        <div class="col d-flex gap-10">
                                            <div class="col-auto d-flex align-items-center">
                                                <label for="" class="form-label m-0 required">Start-Date</label>
                                            </div>
                                            <input class="form-control" placeholder="Pick a date"
                                                id="kt_datepicker_start" />
                                        </div>
                                        <div class="col d-flex gap-3">
                                            <div class="col-auto d-flex align-items-center">
                                                <label for="" class="form-label m-0 required">End-Date</label>
                                            </div>
                                            <input class="form-control" placeholder="Pick a date"
                                                id="kt_datepicker_end" />
                                        </div>
                                    </div>
                                    <div class="row gap-5 mt-3">
                                        <div class="col">
                                            <label class="required form-label">Desc</label>
                                            <div class="input-group">
                                                <textarea class="form-control" aria-label=""></textarea>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label class="required form-label">remark</label>
                                            <div class="input-group">
                                                <textarea class="form-control" aria-label=""></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100 d-flex justify-content-end align-items-center mt-5">
                                        <button class="btn btn-primary w-200px" @click="savePage()">บันทึก</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</body>
<script>
    window.csrfToken = {{.csrf_token }};
</script>
{{- template "resource-js" -}}
<script src="/page-ads-form/js/services.js" type="module"> </script>
<script src="/page-ads-form/js/index.js" type="module"> </script>

</html>