<html lang="en">

<head>
    <title>{{.WebAppPageTitle}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/media/logos/favicon-thpost.ico" />
    {{- template "resource-css" -}}
    <link rel="stylesheet" href="/page-product-order/css/index.css">
    <!--end::custom css for this page-->
    <script>
        const basepath = "{{.Basepath}}";
    </script>
</head>

<body id="kt_app_body" class="background-page" data-kt-app-layout="light-sidebar" data-kt-app-header-fixed="true"
    data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="false" data-kt-app-sidebar-hoverable="true"
    data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true"
    data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">

    <div class=" d-flex justify-content-center align-items-center flex-column gap-2 login-box" id="kt_app_root">
        <div class="app-page w-100  flex-column flex-column-fluid " id="kt_app_page">
            <!-- HEADER -->
            <div id="kt_app_header" class="app-header bg-4461F2">
                {{- template "header" . -}}
            </div>
            <!-- HEADER -->

            <div class="app-wrapper  flex-column flex-row-fluid" id="kt_app_wrapper">
                <div id="kt_app_sidebar" class="app-sidebar flex-column " data-kt-drawer="true"
                    data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: true}"
                    data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start"
                    data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
                    {{- template "sidebar" . -}}
                </div>

                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <div class="d-flex flex-column flex-column-fluid">
                        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6 px-3">
                            <div id="kt_app_toolbar_container" class="app-container container-fluid">
                                <h1 class="fs-1 fw-bolder">คีย์ order</h1>
                                <div class="card p-10 mt-3 w-100">
                                    <form id="kt_docs_formvalidation_text" class="form" @submit="handleSubmit"
                                        autocomplete="off">
                                        <div>
                                            <div class="row mt-5">
                                                <div class="col-6">
                                                    <div class="fv-row mb-10">
                                                        <label class="fw-semibold required fs-4 mb-2">วันที่</label>
                                                        <div class="input-group w-100" id="kt_td_picker_simple"
                                                            data-td-target-input="nearest"
                                                            data-td-target-toggle="nearest">
                                                            <input id="kt_td_picker_basic_input" type="text"
                                                                class="form-control" v-model="form.date"
                                                                @input="handleInput('date')" />
                                                            <span class="input-group-text"
                                                                data-td-target="#kt_td_picker_basic"
                                                                data-td-toggle="datetimepicker"><i
                                                                    class="ki-duotone ki-calendar fs-2"><span
                                                                        class="path1"></span><span
                                                                        class="path2"></span></i></span>
                                                        </div>
                                                        <span v-text="errors.date" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="fv-row mb-10">
                                                        <label class="required fw-semibold fs-4 mb-2">ชื่อลูกค้า</label>
                                                        <input type="text" name="text_input2"
                                                            class="form-control form-control mb-3 mb-lg-0 h-50px"
                                                            v-model="form.nameproduct"
                                                            @input="handleInput('nameproduct')" />
                                                        <span v-text="errors.nameproduct" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="fv-row mb-10">
                                                        <label class="required fw-semibold fs-4 mb-2">สินค้า</label>
                                                        <input type="text" name="text_input2"
                                                            class="form-control form-control mb-3 mb-lg-0 h-50px"
                                                            v-model="form.product" @input="handleInput('product')" />
                                                        <span v-text="errors.product" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="fv-row mb-10">
                                                        <label
                                                            class="required fw-semibold fs-4 mb-2">หมายเลขคำสั่งซื้อ</label>
                                                        <input type="text" name="text_input3"
                                                            class="form-control form-control mb-3 mb-lg-0 h-50px"
                                                            v-model="form.orderNumber"
                                                            @input="handleInput('orderNumber')" />
                                                        <span v-text="errors.orderNumber" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="fv-row mb-10">
                                                        <label class="required fw-semibold fs-4 mb-2">ช่องทาง</label>
                                                        <input type="text" name="text_input4"
                                                            class="form-control form-control mb-3 mb-lg-0 h-50px"
                                                            v-model="form.channel" @input="handleInput('channel')" />
                                                        <span v-text="errors.channel" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="fv-row mb-10">
                                                        <label class="fw-semibold fs-4 mb-2">หมายเหตุ</label>
                                                        <input type="text" name="text_input5"
                                                            class="form-control form-control mb-3 mb-lg-0 h-50px"
                                                            v-model="form.remark" @input="handleInput('remark')" />
                                                        <span v-text="errors.remark" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <button id="kt_docs_formvalidation_text_submit" type="submit"
                                                    class="btn btn-primary w-25">
                                                    <span class="indicator-label">บันทึก</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    </div>
</body>
<script>
    window.csrfToken = {{.csrf_token }};
</script>
{{- template "resource-js" -}}
<script src="/page-product-order/js/services.js" type="module"> </script>
<script src="/page-product-order/js/index.js" type="module"> </script>

</html>