{{- define "sidebar" -}}
<div class="app-sidebar-logo px-8" id="kt_app_sidebar_logo">
	<div id="logo-title" class="w-100 text-center">
		<span style="font-family: 'Lato', sans-serif;font-weight:700; color: #6891FF;" class="h1">Sls Report</span>
	</div>
</div>
<div class="app-sidebar-menu overflow-hidden flex-column-fluid">


	<div class="hover-scroll-overlay-y my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true"
		data-kt-scroll-activate="{default: false, lg: false}" data-kt-scroll-height="auto"
		data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside_menu"
		data-kt-scroll-offset="0">
		<div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500"
			id="#kt_aside_menu" data-kt-menu="true">

			<div class="menu-item menu-sub-indention menu-accordion"
				:class="{ hover: currentPage === 'ads' || currentPage === 'dashboard' || currentPage === 'report-tiktoklive' || currentPage === 'ads_tiktok' || currentPage === 'sweetbrand_report' || currentPage === 'details-add' || currentPage === 'video' || currentPage === 'key-order' || currentPage === 'campaign_report', show: currentPage === 'ads' || currentPage === 'details-add' || currentPage === 'sweetbrand_report' || currentPage === 'ads_tiktok' || currentPage === 'report-tiktoklive' || currentPage === 'dashboard' || currentPage === 'video' || currentPage === 'key-order' || currentPage === 'campaign_report' }"
				data-kt-menu-trigger="click">
				<a href="#" class="menu-link fs-4 fw-bold py-3">
					<span class="menu-icon">
						<i class="ki-duotone ki-chart-simple-2 fs-3"><span class="path1"></span><span
								class="path2"></span><span class="path3"></span><span class="path4"></span></i>
					</span>
					<span class="menu-title">Report</span>
					<span class="menu-arrow"></span>
				</a>
				<div class="menu-sub menu-sub-accordion pt-3"
					:class="{show:currentPage === 'ads' || currentPage === 'dashboard' || currentPage === 'ads_tiktok' || currentPage === 'sweetbrand_report' || currentPage === 'details-add' || currentPage === 'report-tiktoklive' || currentPage === 'video' || currentPage === 'key-order' || currentPage === 'campaign_report'}">
					<div class="menu-item" :class="{active:currentPage === 'dashboard'}">
						<a href="/dashboard" class="menu-link py-3">
							<span class="menu-bullet">
								<i class="bi-pie-chart"></i>
							</span>
							<span class="menu-title">รายงานภาพรวม แอดมิน</span>
						</a>
					</div>
					<div class="menu-item" :class="{active:currentPage === 'ads'}">
						<a href="/ads" class="menu-link py-3">
							<span class="menu-bullet">
								<i class="bi-badge-ad"></i>
							</span>
							<span class="menu-title">รายงานภาพรวม ADS</span>
						</a>
					</div>
					<div class="menu-item" :class="{active:currentPage === 'ads_tiktok'}">
						<a href="/ads-tiktok" class="menu-link py-3">
							<span class="menu-bullet">
								<i class="bi-badge-ad"></i>
							</span>
							<span class="menu-title">รายงาน Ads tiktok</span>
						</a>
					</div>
					<div class="menu-item" :class="{active:currentPage === 'report-tiktoklive'}">
						<a href="/report-tiktoklive" class="menu-link py-3">
							<span class="menu-bullet">
								<i class="bi-tiktok"></i>
							</span>
							<span class="menu-title">รายงาน TikTok Live</span>
						</a>
					</div>
					<div class="menu-item" :class="{active:currentPage === 'details-add'}">
						<a href="/details-add" class="menu-link py-3">
							<span class="menu-bullet">
								<i class="bi-cash-coin"></i>
							</span>
							<span class="menu-title">รายงาน Ads detail</span>
						</a>
					</div>

					<div class="menu-item" :class="{active:currentPage === 'video'}">
						<a href="/video" class="menu-link py-3">
							<span class="menu-bullet">
								<i class="bi-play-btn"></i>
							</span>
							<span class="menu-title">รายงาน คลิปวีดิโอ</span>
						</a>
					</div>
					<div class="menu-item" :class="{active:currentPage === 'key-order'}">
						<a href="/key-order" class="menu-link py-3">
							<span class="menu-bullet">
								<i class="bi-basket"></i>
							</span>
							<span class="menu-title">รายงาน ทำรายการ</span>
						</a>
					</div>
					<div class="menu-item" :class="{active:currentPage === 'campaign_report'}">
						<a href="/campaign-report" class="menu-link py-3">
							<span class="menu-bullet">
								<i class="bi-megaphone"></i>
							</span>
							<span class="menu-title">รายงาน แคมเปญ</span>
						</a>
					</div>
					<div class="menu-item" :class="{active:currentPage === 'sweetbrand_report'}">
						<a href="/sweetbrand-report" class="menu-link py-3">
							<span class="menu-bullet">
								<i class="bi-megaphone"></i>
							</span>
							<span class="menu-title">รายงาน Product Campaign</span>
						</a>
					</div>
				</div>
			</div>
			<div class="menu-item menu-sub-indention menu-accordion"
				:class="{ hover: currentPage === 'fb_form' || currentPage === 'key-ads' || currentPage === 'campaign_form' || currentPage === 'sweetbrand_form' || currentPage === 'tiktok_form' || currentPage === 'tiktok_live' || currentPage === 'chat' || currentPage === 'key-clip' || currentPage === 'product-order' || currentPage === 'negativ-review' || currentPage === 'negative-details', show: currentPage === 'fb_form' || currentPage === 'key-ads' || currentPage === 'campaign_form' || currentPage === 'tiktok_form' || currentPage === 'tiktok_live' || currentPage === 'chat' || currentPage === 'key-clip' || currentPage === 'product-order' || currentPage === 'negativ-review' || currentPage === 'negative-details' }"
				data-kt-menu-trigger="click">
				<a href="#" class="menu-link fs-4 fw-bold py-3">
					<span class="menu-icon">
						<i class="bi-file-earmark-text fs-4"></i>
					</span>
					<span class="menu-title">แบบฟอร์ม</span>
					<span class="menu-arrow"></span>
				</a>
				<div class="menu-sub menu-sub-accordion pt-3"
					:class="{show: currentPage === 'fb_form' || currentPage === 'key-ads' || currentPage === 'campaign_form' || currentPage === 'tiktok_form' || currentPage === 'sweetbrand_form' || currentPage === 'tiktok_live' || currentPage === 'chat' || currentPage === 'key-clip' || currentPage === 'product-order' || currentPage === 'negativ-review' || currentPage === 'negative-details'}">

					<div class="menu-item menu-sub-indention menu-accordion" data-kt-menu-trigger="click"
						:class="{ hover: currentPage === 'fb_form' || currentPage === 'key-ads' || currentPage === 'sweetbrand_form' || currentPage === 'campaign_form' || currentPage === 'tiktok_form' || currentPage === 'tiktok_live', show: currentPage === 'fb_form' || currentPage === 'key-ads' || currentPage === 'sweetbrand_form' || currentPage === 'campaign_form' || currentPage === 'tiktok_form' || currentPage === 'tiktok_live'}">
						<a href="#" class="menu-link fs-6 fw-bold py-3">
							<span class="menu-icon">
								<i class="ki-duotone ki-chart-simple-2 fs-3"><span class="path1"></span><span
										class="path2"></span><span class="path3"></span><span class="path4"></span></i>
							</span>
							<span class="menu-title">ทีม ADS</span>
							<span class="menu-arrow"></span>
						</a>
						<div class="menu-sub menu-sub-accordion pt-3">
							<!--begin::Menu item-->
							<div class="menu-item" :class="{active:currentPage === 'fb_form'}">
								<a href="/fb-form" class="menu-link py-3">
									<span class="menu-bullet">
										<i class="bi-cash-coin"></i>
									</span>
									<span class="menu-title">Facebook Ads</span>
								</a>
							</div>
							<div class="menu-item" :class="{active:currentPage === 'key-ads'}">
								<a href="/key-ads" class="menu-link py-3">
									<span class="menu-bullet">
										<i class="bi-cash-coin"></i>
									</span>
									<span class="menu-title">ค่าโฆษณา</span>
								</a>
							</div>
							<div class="menu-item" :class="{active:currentPage === 'tiktok_form'}">
								<a href="/tiktok-form" class="menu-link py-3">
									<span class="menu-bullet">
										<i class="bi-cash-coin"></i>
									</span>
									<span class="menu-title">TikTok Ads</span>
								</a>
							</div>
							<div class="menu-item" :class="{active:currentPage === 'tiktok_live'}">
								<a href="/tiktok-live" class="menu-link py-3">
									<span class="menu-bullet">
										<i class="bi-cash-coin"></i>
									</span>
									<span class="menu-title">TikTok Live</span>
								</a>
							</div>
							<div class="menu-item" :class="{active:currentPage === 'campaign_form'}">
								<a href="/campaign-form" class="menu-link py-3">
									<span class="menu-bullet">
										<i class="bi-megaphone"></i>
									</span>
									<span class="menu-title">แคมเปญ</span>
								</a>
							</div>
							<div class="menu-item" :class="{active:currentPage === 'sweetbrand_form'}">
								<a href="/sweetbrand-form" class="menu-link py-3">
									<span class="menu-bullet">
										<i class="bi-cash-coin"></i>
									</span>
									<span class="menu-title">Product Campaign</span>
								</a>
							</div>
						</div>
					</div>
					<div class="menu-item menu-sub-indention menu-accordion" data-kt-menu-trigger="click"
						:class="{ hover: currentPage === 'chat' || currentPage === 'key-clip' || currentPage === 'product-order' || currentPage === 'negativ-review' || currentPage === 'negative-details', show: currentPage === 'chat' || currentPage === 'key-clip' || currentPage === 'product-order' || currentPage === 'negativ-review' || currentPage === 'negative-details'}">
						<a href="#" class="menu-link fs-6 fw-bold py-3">
							<span class="menu-icon">
								<i class="ki-duotone ki-chart-simple-2 fs-3"><span class="path1"></span><span
										class="path2"></span><span class="path3"></span><span class="path4"></span></i>
							</span>
							<span class="menu-title">ทีม Admin</span>
							<span class="menu-arrow"></span>
						</a>
						<div class="menu-sub menu-sub-accordion pt-3">
							<!--begin::Menu item-->
							<div class="menu-item" :class="{active:currentPage === 'chat'}">
								<a href="/chat" class="menu-link py-3">
									<span class="menu-bullet">
										<i class="bi-chat-dots"></i>
									</span>
									<span class="menu-title">แชท</span>
								</a>
							</div>
							<div class="menu-item" :class="{active:currentPage === 'key-clip'}">
								<a href="/key-clip" class="menu-link py-3">
									<span class="menu-bullet">
										<i class="bi-play-btn"></i>
									</span>
									<span class="menu-title">คลิปวีดิโอ</span>
								</a>
							</div>
							<div class="menu-item" :class="{active:currentPage === 'product-order'}">
								<a href="/product-order" class="menu-link py-3">
									<span class="menu-bullet">
										<i class="bi-basket"></i>
									</span>
									<span class="menu-title">ทำรายการ</span>
								</a>
							</div>
							<div class="menu-item" :class="{active:currentPage === 'negativ-review'}">
								<a href="/negativ-review" class="menu-link py-3">
									<span class="menu-bullet">
										<i class="bi-star"></i>
									</span>
									<span class="menu-title">รีวิว เชิงลบ</span>
								</a>
							</div>
							<div class="menu-item" :class="{active:currentPage === 'negative-details'}">
								<a href="/negative-details" class="menu-link py-3">
									<span class="menu-bullet">
										<i class="bi-list-stars"></i>
									</span>
									<span class="menu-title">รายละเอียด เชิงลบ</span>
								</a>
							</div>
						</div>
					</div>



				</div>
			</div>
		</div>
	</div>
</div>

{{- end -}}