<html lang="en">

<head>
    <title>{{.WebAppPageTitle}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/media/logos/favicon-thpost.ico" />
    {{- template "resource-css" -}}
    <link rel="stylesheet" href="/page-negative-review/css/index.css">
    <!--end::custom css for this page-->

</head>

<body id="kt_app_body" class="background-page" data-kt-app-layout="light-sidebar" data-kt-app-header-fixed="true"
    data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="false" data-kt-app-sidebar-hoverable="true"
    data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true"
    data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">

    <div class=" d-flex justify-content-center align-items-center flex-column gap-2 login-box" id="kt_app_root">
        <div class="app-page w-100  flex-column flex-column-fluid " id="kt_app_page">
            <!-- HEADER -->
            <div id="kt_app_header" class="app-header bg-4461F2">
                {{- template "header" . -}}
            </div>
            <!-- HEADER -->

            <div class="app-wrapper  flex-column flex-row-fluid" id="kt_app_wrapper">
                <div id="kt_app_sidebar" class="app-sidebar flex-column " data-kt-drawer="true"
                    data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: true}"
                    data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start"
                    data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
                    {{- template "sidebar" . -}}
                </div>

                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <div class="d-flex flex-column flex-column-fluid">
                        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6 px-3">
                            <div id="kt_app_toolbar_container" class="app-container container-fluid">
                                <h1 class="fs-1 fw-bolder">รีวิว เชิงลบ</h1>
                                <div class="card p-10 mt-3 w-100">
                                    <div class="pb-2">
                                        <h1 class="required fs-4">ช่องทาง</h1>
                                    </div>

                                    <form id="kt_docs_formvalidation_text" class="form" action="#" autocomplete="off">
                                        <div class="row w-550px fv-row g-3">
                                            <template v-for="(item, indx) in dataInputChannel" :key="indx">
                                                <div class="col-3">
                                                    <label class="form-check form-check-custom form-check-solid">
                                                        <input class="form-check-input" type="radio" name="radio_input"
                                                            :value="indx" />
                                                        <span class="form-check-label text-dark"
                                                            v-text="item.channel"></span>
                                                    </label>
                                                </div>
                                            </template>
                                            <!-- Validation message for radio buttons -->
                                            <div class="col-12">
                                                <span id="radio_input_error" class="text-danger"
                                                    style="display: none;">โปรดเลือกช่องทาง</span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="row mt-5">
                                                <div class="col-6">
                                                    <div class="fv-row mb-10">
                                                        <label
                                                            class="required fw-semibold fs-4 mb-2">เรื่องอัพเดทรีวิวเชิงลบ</label>
                                                        <input type="text" name="text_input1"
                                                            class="form-control form-control mb-3 mb-lg-0 h-50px"
                                                            placeholder="" value="" />
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="fv-row mb-10">
                                                        <label
                                                            class="required fw-semibold fs-4 mb-2">เรื่องอัพเดทรีวิวที่เป็นกลาง</label>
                                                        <input type="text" name="text_input2"
                                                            class="form-control form-control mb-3 mb-lg-0 h-50px"
                                                            placeholder="" value="" />
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="fv-row mb-10">
                                                        <label
                                                            class="required fw-semibold fs-4 mb-2">เรื่องการตอบกลับกล่องข้อความ</label>
                                                        <input type="text" name="text_input3"
                                                            class="form-control form-control mb-3 mb-lg-0 h-50px"
                                                            placeholder="" value="" />
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="fv-row mb-10">
                                                        <label
                                                            class="required fw-semibold fs-4 mb-2">เรื่องการตอบกลับแชทครีเอเตอร์</label>
                                                        <input type="text" name="text_input4"
                                                            class="form-control form-control mb-3 mb-lg-0 h-50px"
                                                            placeholder="" value="" />
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="fv-row mb-10">
                                                        <label
                                                            class="required fw-semibold fs-4 mb-2">เรื่องการละเมิด</label>
                                                        <select class="form-select h-50px" name="select_input"
                                                            data-control="select2"
                                                            data-placeholder="เลือก เรื่องการละเมิด"
                                                            data-hide-search="true">
                                                            <option></option>
                                                            <option v-for="(option, index) in dataMatterViolation"
                                                                :key="index" :value="option.code" v-text="option.name">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="fv-row mb-10">
                                                        <label
                                                            class="required fw-semibold fs-4 mb-2">เรื่องการแจ้งเตือน</label>
                                                        <input type="text" name="text_input5"
                                                            class="form-control form-control mb-3 mb-lg-0 h-50px"
                                                            placeholder="" value="" />
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="fv-row mb-10">
                                                        <label
                                                            class="required fw-semibold fs-4 mb-2">เรื่องคำขออนุมัติสินค้า</label>
                                                        <input type="text" name="text_input6"
                                                            class="form-control form-control mb-3 mb-lg-0 h-50px"
                                                            placeholder="" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <button id="kt_docs_formvalidation_text_submit" type="submit"
                                                    class="btn btn-primary w-25">
                                                    <span class="indicator-label">Submit</span>
                                                    <span class="indicator-progress">
                                                        กรอกข้อมูลสำเร็จ <span
                                                            class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    </div>
</body>
<script>
    window.csrfToken = {{.csrf_token }};
</script>
{{- template "resource-js" -}}
<script src="/page-negative-review/js/services.js" type="module"> </script>
<script src="/page-negative-review/js/index.js" type="module"> </script>

</html>