<html lang="en">

<head>
    <title>{{.WebAppPageTitle}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/media/logos/favicon-thpost.ico" />
    {{- template "resource-css" -}}
    <link rel="stylesheet" href="/page-ads-key-add/css/index.css">
    <!--end::custom css for this page-->
    <script>
        const basepath = "{{.Basepath}}";
    </script>
</head>

<body id="kt_app_body" class="background-page" data-kt-app-layout="light-sidebar" data-kt-app-header-fixed="true"
    data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="false" data-kt-app-sidebar-hoverable="true"
    data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true"
    data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">

    <div class=" d-flex justify-content-center align-items-center flex-column gap-2 login-box" id="kt_app_root">
        <div class="app-page w-100  flex-column flex-column-fluid " id="kt_app_page">
            <!-- HEADER -->
            <div id="kt_app_header" class="app-header bg-4461F2">
                {{- template "header" . -}}
            </div>
            <!-- HEADER -->

            <div class="app-wrapper  flex-column flex-row-fluid" id="kt_app_wrapper">
                <div id="kt_app_sidebar" class="app-sidebar flex-column " data-kt-drawer="true"
                    data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: true}"
                    data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start"
                    data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
                    {{- template "sidebar" . -}}
                </div>

                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <div class="d-flex flex-column flex-column-fluid">
                        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6 px-3">
                            <div id="kt_app_toolbar_container" class="app-container container-fluid">


                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h1 class="fs-1 fw-bolder">ค่าโฆษณา</h1>
                                    </div>
                                </div>
                                <!-- <div class="col">

                                            <div class="card p-10 mt-3 ">
                                                <div>
                                                    <h1 v-text="item.shop_name"></h1>
                                                </div>
                                                <div class="row mt-5">
                                                    <div class="col-6">
                                                        <div class="fv-row mb-10">
                                                            <label class="fw-semibold required fs-4 mb-2">วันที่</label>
                                                            <div class="input-group w-100" id="kt_td_picker_simple"
                                                                data-td-target-input="nearest"
                                                                data-td-target-toggle="nearest">
                                                                <input :id="'kt_td_picker_basic_input'+index"
                                                                    type="text" class="form-control" v-model="item.timestamp"
                                                                    @input="handleInput(index, 'timestamp')" />
                                                                <span class="input-group-text"
                                                                    data-td-target="#kt_td_picker_basic"
                                                                    data-td-toggle="datetimepicker"><i
                                                                        class="ki-duotone ki-calendar fs-2"><span
                                                                            class="path1"></span><span
                                                                            class="path2"></span></i></span>
                                                            </div>
                                                            <span v-if="errors[index] && errors[index].date"
                                                                v-text="errors[index].date" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-6">
                                                        <div class="fv-row mb-10">
                                                            <label class="required fw-semibold fs-4 mb-2">ค่าแอด</label>
                                                            <input type="text" :name="'add_fee'+index" :id="'add_fee'+index"
                                                                class="form-control form-control mb-3 mb-lg-0 h-50px"
                                                                v-model="item.add_fee"
                                                                @input="handleInputN(index, 'add_fee')" />
                                                            <span v-if="errors[index] && errors[index].add_fee"
                                                                v-text="errors[index].add_fee"
                                                                class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="fv-row mb-10">
                                                            <label
                                                                class="required fw-semibold fs-4 mb-2">รายได้แอด</label>
                                                            <input type="text" :name="'added_income'+index" :id="'added_income'+index"
                                                                class="form-control form-control mb-3 mb-lg-0 h-50px"
                                                                v-model="item.added_income"
                                                                @input="handleInputN(index,'added_income')" />
                                                            <span v-if="errors[index] && errors[index].added_income"
                                                                v-text="errors[index].added_income"
                                                                class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="fv-row mb-10">
                                                            <label
                                                                class="required fw-semibold fs-4 mb-2">รายได้รวม</label>
                                                            <input type="text" :name="'total_income'+index" :id="'total_income'+index"
                                                                class="form-control form-control mb-3 mb-lg-0 h-50px"
                                                                v-model="item.total_income"
                                                                @input="handleInputN(index,'total_income')" />
                                                            <span v-if="errors[index] && errors[index].added_income"
                                                                v-text="errors[index].added_income"
                                                                class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->

                                <div class="card p-10 pt-5">
                                    <div class="d-flex justify-content-between">
                                        <div class="w-350px input-group align-items-center" id="kt_td_picker_start"
                                            data-td-target-input="nearest" data-td-target-toggle="nearest">
                                            <div>
                                                <span class="fs-14  align-middle" style="margin-right: 10px;">วันที่
                                                    :</span>
                                            </div>
                                            <input id="kt_td_picker_date_input" type="text" class="form-control w-200px"
                                                data-td-target="#kt_td_picker_start" />
                                            <span class="input-group-text" data-td-target="#kt_td_picker_basic"
                                                data-td-toggle="datetimepicker">
                                                <i class="ki-duotone ki-calendar fs-2"><span class="path1"></span><span
                                                        class="path2"></span></i>
                                            </span>
                                            <span v-if="errors_date && errors_date.date" v-text="errors_date.date"
                                                class="text-danger"></span>
                                        </div>
                                        <div class="d-flex justify-content-end align-items-center gap-5">
                                            <div>
                                                <button type="button" @click="addAds"
                                                    class="btn btn-primary w-150px">เพิ่ม
                                                    ADS</button>
                                            </div>
                                            <div class="">
                                                <button type="button" @click="handleSubmit" class="btn btn-success w-150px">บันทึก</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive border rounded-4 mt-5">
                                        <table class="table table-row-dashed table-row-gray-300 gy-6 gs-7 mb-0">
                                            <thead>
                                                <tr class="fs-6 ">
                                                    <th></th>
                                                    <th class="text-end" v-text="formatNumber(AddFee)"></th>
                                                    <th class="text-end" v-text="formatNumber(AddIncome)"></th>
                                                    <th class="text-end" v-text="formatNumber(AddTotal)"></th>
                                                    <th class="text-end"
                                                        v-text="formatPercentage(AddFee, AddTotal) || '0.00%'"></th>
                                                </tr>
                                                <tr class="fw-bold fs-4 ">
                                                    <!-- <th>วันที่</th> -->
                                                    <th>ร้าน</th>
                                                    <th class="text-end">ค่าแอด</th>
                                                    <th class="text-end">รายได้แอด</th>
                                                    <th class="text-end">รายได้รวม</th>
                                                    <th class="text-end">เปอร์เซ็นต์</th>
                                                </tr>
                                            </thead>
                                            <tbody class="fs-6">
                                                <template v-for="(item, index) in data_channel" :key="index">
                                                    <tr>
                                                        <!-- <td class="align-middle">
                                                            <div class="w-150px input-group align-items-center"
                                                                id="kt_td_picker_start_date"
                                                                data-td-target-input="nearest"
                                                                data-td-target-toggle="nearest">
                                                                <input :id="'kt_td_picker_start_input_'+index"
                                                                    type="text" class="form-control w-200px"
                                                                    data-td-target="#kt_td_picker_start" />
                                                            </div>
                                                            <span v-if="errors[index] && errors[index].date"
                                                                v-text="errors[index].date" class="text-danger"></span>
                                                        </td> -->
                                                        <td class="align-middle">
                                                            <span v-if="!item.new_data" v-text="item.shop_name"></span>
                                                            <div v-else>
                                                                <select class="form-select " data-control="select2"
                                                                    :id="'select_channel_'+index"
                                                                    :name="'select_channel_'+index"
                                                                    data-placeholder="Select an Channel">
                                                                    <option></option>
                                                                </select>
                                                                <span v-if="errors[index] && errors[index].shop_name"
                                                                    v-text="errors[index].shop_name"
                                                                    class="text-danger"></span>
                                                            </div>
                                                            <!-- <input type="text" class="form-control text-end"
                                                                    :class="{'border-danger': errors[index]?.shop_name}"
                                                                    v-model="item.shop_name" /> -->
                                                        </td>
                                                        <td class="align-middle">
                                                            <div>
                                                                <input type="text" class="form-control text-end"
                                                                    :class="{'border-danger': errors[index]?.add_fee}"
                                                                    v-model="item.add_fee" @input="handleInputN(item.add_fee, index, 'add_fee')"
                                                                    @keydown.enter="focusNext('add_fee', index + 1)"
                                                                    :ref="'add_fee_' + index" />
                                                            </div>
                                                        </td>
                                                        <td class="align-middle">
                                                            <div>
                                                                <input type="text" class="form-control text-end"
                                                                    :class="{'border-danger': errors[index]?.added_income}"
                                                                    v-model="item.added_income" @input="handleInputN(item.added_income, index, 'added_income')"
                                                                    @keydown.enter="focusNext('added_income', index + 1)"
                                                                    :ref="'added_income_' + index" />
                                                            </div>
                                                        </td>
                                                        <td class="align-middle">
                                                            <div>
                                                                <input type="text" class="form-control text-end"
                                                                    :class="{'border-danger': errors[index]?.total_income}"
                                                                    v-model="item.total_income" @input="handleInputN(item.total_income, index, 'total_income')"
                                                                    @keydown.enter="focusNext('total_income', index + 1)"
                                                                    :ref="'total_income_' + index" />
                                                            </div>
                                                        </td>

                                                        <td class="align-middle">
                                                            <div class="text-end"
                                                                :class="{'d-flex gap-3 justify-content-end align-items-center': item.new_data}">
                                                                <span class=""
                                                                    v-text="formatPercentage(item.add_fee, item.total_income) || '0.00%'"></span>
                                                                <i v-if="item.new_data"
                                                                    class="text-danger bi-trash pointer"
                                                                    @click="deleteAds(index)"></i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </template>

                                            </tbody>
                                        </table>
                                    </div>
                                   
                                </div>
                                <div class="position-fixed top-0 end-0 p-3 z-index-101">
                                    <div id="kt_docs_toast_toggle" class="toast" role="alert" aria-live="assertive"
                                        aria-atomic="true">
                                        <div class="toast-header justify-content-end">
                                            <i class="text-danger me-auto bi-exclamation-circle fs-4"></i>
                                            <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="toast-body fs-6">
                                            กรุณากรอกข้อมูลให้ครบ
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</body>
<script>
    window.csrfToken = {{.csrf_token }};
    window.pageAction = {{.page_action }};
</script>
{{- template "resource-js" -}}
<script src="/page-ads-key-add/js/services.js" type="module"> </script>
<script src="/page-ads-key-add/js/index.js" type="module"> </script>

</html>