<html lang="en">

<head>
    <title>{{.WebAppPageTitle}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/media/logos/favicon-thpost.ico" />
    {{- template "resource-css" -}}
    <link rel="stylesheet" href="/page-report-tiktok-live/css/index.css">
    <!--end::custom css for this page-->
    <script>
        const basepath = "{{.Basepath}}";
    </script>

</head>

<body id="kt_app_body" class="background-page" data-kt-app-layout="light-sidebar" data-kt-app-header-fixed="true"
    data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="false" data-kt-app-sidebar-hoverable="true"
    data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true"
    data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">

    <div class=" d-flex justify-content-center align-items-center flex-column gap-2 login-box" id="kt_app_root">
        <div class="app-page w-100  flex-column flex-column-fluid " id="kt_app_page">
            <!-- HEADER -->
            <div id="kt_app_header" class="app-header bg-4461F2">
                {{- template "header" . -}}
            </div>
            <!-- HEADER -->

            <div class="app-wrapper  flex-column flex-row-fluid" id="kt_app_wrapper">
                <div id="kt_app_sidebar" class="app-sidebar flex-column " data-kt-drawer="true"
                    data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: true}"
                    data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start"
                    data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
                    {{- template "sidebar" . -}}
                </div>

                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <div class="d-flex flex-column flex-column-fluid">
                        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6 px-3">
                            <div id="kt_app_toolbar_container" class="app-container container-fluid">
                                <h1 class="fs-1 fw-bolder">รายงาน TikTok Live</h1>
                                <div class="card p-10 mt-3 w-100">
                                    <div class="d-flex justify-content-end gap-5">
                                        
                                        <div class="d-flex gap-5">
                                            <div class="w-350px input-group align-items-center" id="kt_td_picker_start"
                                                data-td-target-input="nearest" data-td-target-toggle="nearest">
                                                <div>
                                                    <span class="fs-14  align-middle"
                                                        style="margin-right: 10px;">วันที่เริ่มต้น :</span>
                                                </div>
                                                <input id="kt_td_picker_start_input" type="text"
                                                    class="form-control w-200px" data-td-target="#kt_td_picker_start" />
                                                <span class="input-group-text" data-td-target="#kt_td_picker_basic"
                                                    data-td-toggle="datetimepicker">
                                                    <i class="ki-duotone ki-calendar fs-2"><span
                                                            class="path1"></span><span class="path2"></span></i>
                                                </span>
                                            </div>
                                        
                                            <div class="w-350px input-group align-items-center" id="kt_td_picker_end"
                                                data-td-target-input="nearest" data-td-target-toggle="nearest">
                                                <div>
                                                    <span class="fs-14  align-middle"
                                                        style="margin-right: 10px;">วันที่สิ้นสุด :</span>
                                                </div>
                                                <input id="kt_td_picker_end_input" type="text"
                                                    class="form-control w-200px" data-td-target="#kt_td_picker_end" />
                                                <span class="input-group-text" data-td-target="#kt_td_picker_basic"
                                                    data-td-toggle="datetimepicker">
                                                    <i class="ki-duotone ki-calendar fs-2"><span
                                                            class="path1"></span><span class="path2"></span></i>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="position-relative">
                                            <div class="input-container">
                                                <input type="text" class="form-control form-control-5 form-control-lg"
                                                    v-model="serach_value" @blur="handleBlur()" @keyup.enter="handleSearch" placeholder="ค้นหา.." />
                                                <i class="bi bi-search" @click="handleSearch"></i>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="table-responsive border rounded-4 mt-3">
                                        <table class="table table-row-dashed table-row-gray-300 gy-6 gs-7 mb-0">
                                            <tr class="fw-bold fs-4">
                                                <th class="min-w-100px align-middle">
                                                    <div class="d-flex w-100 justify-content-between align-items-center"
                                                        @click="sortTable('p_timestamp')">
                                                        <span>วันที่</span>
                                                        <i class="bi-chevron-down" :class="getSortIcon('p_timestamp')"></i>
                                                    </div>
                                                </th>
                                                <th class="min-w-150px align-middle">
                                                    <div class="d-flex w-100 justify-content-between align-items-center"
                                                        @click="sortTable('total_cost')">
                                                        <span>	
                                                            ค่าใช้จ่ายทั้งหมด</span>
                                                        <i class="bi-chevron-down"
                                                            :class="getSortIcon('total_cost')"></i>
                                                    </div>
                                                </th>
                                                <th class="min-w-200px align-middle">
                                                        <div class="d-flex w-100 justify-content-between align-items-center"
                                                            @click="sortTable('total_income')">
                                                            <span>	
                                                                รายได้รวม(ร้านค่า)</span>
                                                            <i class="bi-chevron-down"
                                                                :class="getSortIcon('total_income')"></i>
                                                        </div>
                                                </th>
                                                <th class="min-w-200px align-middle">
                                                    <div
                                                    class="d-flex w-100 justify-content-between align-items-center">
                                                    <div class="d-flex w-100 justify-content-between align-items-center"
                                                        @click="sortTable('shop_name')">
                                                        <span>ช่องทาง</span>
                                                        <i class="bi-chevron-down" :class="getSortIcon('shop_name')"></i>
                                                    </div>
                                                    <div class="flex-shrink-1">
                                                        <i @click="filterModal('ช่องทาง')"
                                                            class="pointer bi-funnel"></i>
                                                    </div>
                                                    </div>
                                                </th>
                                                <th class="min-w-200px align-middle">
                                                    <div class="d-flex w-100 justify-content-between align-items-center"
                                                        @click="sortTable('note')">
                                                        <span>note</span>
                                                        <i class="bi-chevron-down" :class="getSortIcon('note')"></i>
                                                    </div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            </tfoot>
                                            <tbody class="fs-6">
                                                <template v-for="(item, index) in dataOrderManual" :key="index">
                                                    <tr>
                                                      <td class="text-start align-middle" v-text="utilsConvDate(item.p_timestamp)"></td>
                                                      <td class="text-start align-middle" v-text="item.total_cost"></td>
                                                      <td class="text-start align-middle" v-text="item.total_income"></td>
                                                      <td class="text-start align-middle" v-text="item.shop_name"></td>
                                                      <td class="text-start align-middle" v-text="item.note"></td>
                                                    </tr>
                                                  </template>
                                                  
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div>
                                            <select class="form-select w-80px h-35px" v-model="perPage"
                                                @change="loadData">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>

                                        </div>
                                        <ul class="pagination">
                                            <li class="page-item" :class="{ disabled: currentPages === 1 }">
                                                <a href="#" class="page-link"
                                                    @click.prevent="goToPage(currentPages - 1)">
                                                    <i class="previous"></i>
                                                </a>
                                            </li>
                                            <li class="page-item" v-for="page in paginationRange" :key="page"
                                                :class="{ active: currentPages === page }">
                                                <a href="#" class="page-link" @click.prevent="goToPage(page)"
                                                    v-text="page"></a>
                                            </li>
                                            <li class="page-item" :class="{ disabled: currentPages === totalPages }">
                                                <a href="#" class="page-link"
                                                    @click.prevent="goToPage(currentPages + 1)">
                                                    <i class="next"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" tabindex="-1" id="filter_model">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" v-text="modal_titles"></h3>
    
                                    <!--begin::Close-->
                                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2"
                                        @click="closeModalFilter">
                                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span
                                                class="path2"></span></i>
                                    </div>
                                    <!--end::Close-->
                                </div>
    
                                <div class="modal-body">
                                    <div class="d-flex gap-5 flex-wrap">
    
                                        <template v-if="modal_titles === 'ชื่อสินค้า'"
                                        v-for="(item, index) in data_products_2">
                                        <div class="align-middle pe-3">
                                            <div class="form-check form-check-solid">
                                                <input class="form-check-input" type="checkbox"
                                                    :checked="item.check_value" v-model="item.check_value"
                                                    :id="'check_product' + index" :name="'check_product' + index" />
                                                <label class="form-check-label text-dark" :for="'check_product' + index"
                                                    v-text="item.name"></label>
                                            </div>
                                        </div>
                                    </template>

                                    <!-- Loop data_channel เมื่อ modal_titles เป็น 'ช่องทาง' -->
                                    <template v-else-if="modal_titles === 'ช่องทาง'"
                                        v-for="(item, index) in data_channel_2">
                                        <div class="align-middle pe-3">
                                            <div class="form-check form-check-solid">
                                                <input class="form-check-input" type="checkbox"
                                                    :checked="item.check_value" v-model="item.check_value"
                                                    :id="'check_channel' + index" :name="'check_channel' + index" />
                                                <label class="form-check-label text-dark" :for="'check_channel' + index"
                                                    v-text="item.name"></label>
                                            </div>
                                        </div>
                                    </template>

                                    <!-- Loop data_user เมื่อ modal_titles เป็นค่าอื่น ๆ -->
                                    <template v-else v-for="(item, index) in data_users_2">
                                        <div class="align-middle pe-3">
                                            <div class="form-check form-check-solid">
                                                <input class="form-check-input" type="checkbox"
                                                    :checked="item.check_value" v-model="item.check_value"
                                                    :id="'check_users' + index" :name="'check_users' + index" />
                                                <label class="form-check-label text-dark" :for="'check_users' + index"
                                                    v-text="item.name"></label>
                                            </div>
                                        </div>
                                    </template>
    
                                    </div>
                                </div>
    
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" @click="resetCheckValue">Reset</button>
                                    <button type="button" class="btn btn-primary" @click="saveFilter">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            

            </div>
        </div>

    </div>
    </div>
</body>
<script>
    window.csrfToken = {{.csrf_token }};
    window.pageAction = {{.page_action }};
</script>
{{- template "resource-js" -}}
<script src="/page-report-tiktok-live/js/services.js" type="module"> </script>
<script src="/page-report-tiktok-live/js/index.js" type="module"> </script>

</html>