<html lang="en">

<head>
    <title>{{.WebAppPageTitle}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/media/logos/favicon-thpost.ico" />
    {{- template "resource-css" -}}
    <link rel="stylesheet" href="/page-chat/css/index.css">
    <!--end::custom css for this page-->

</head>

<body id="kt_app_body" class="background-page" data-kt-app-layout="light-sidebar" data-kt-app-header-fixed="true"
    data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="false" data-kt-app-sidebar-hoverable="true"
    data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true"
    data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">

    <div class=" d-flex justify-content-center align-items-center vh-100 flex-column gap-2 login-box" id="kt_app_root">
        <div class="app-page w-100  flex-column flex-column-fluid " id="kt_app_page">
            <!-- HEADER -->
            <div id="kt_app_header" class="app-header bg-4461F2">
                {{- template "header" . -}}
            </div>
            <!-- HEADER -->

            <div class="app-wrapper  flex-column flex-row-fluid" id="kt_app_wrapper">
                <div id="kt_app_sidebar" class="app-sidebar flex-column " data-kt-drawer="true"
                    data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: true}"
                    data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start"
                    data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
                    {{- template "sidebar" . -}}

                </div>

                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <div class="d-flex flex-column flex-column-fluid">
                        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
                            <div id="kt_app_toolbar_container" class="app-container container-fluid">
                                <div class="fs-1 fw-bolder">
                                    <span>แชท</span>
                                </div>

                                <div class="card p-5 mt-5">
                                    <div class="fs-3 fw-medium">
                                        <span>ลงบันทึก จำนวนแชททุกร้าน</span>
                                    </div>
                                    <div class="row g-10 mt-0 mb-3" fv-id="validator_form">
                                        <div class="col-2 fv-row">
                                            <label class="required form-label">Marwellsoy24</label>
                                            <input @input="restrictToNumbers('marwellsoy24')" v-model="formData.marwellsoy24" type="text"
                                              class="form-control form-control-solid" />
                                            <span v-text="errors.marwellsoy24" class="text-danger"></span>
                                          </div>
                                          
                                        <div class="col-2 fv-row">
                                            <label class="required form-label">Lookjeab</label>
                                            <input @input="restrictToNumbers('lookjeab')" v-model="formData.lookjeab" type="text"
                                                class="form-control form-control-solid" />
                                            <span v-text="errors.lookjeab" class="text-danger"></span>
                                        </div>
                                        <div class="col-2 fv-row">
                                            <label class="required form-label">Good Sup</label>
                                            <input @input="restrictToNumbers('goodSup')" v-model="formData.goodSup" type="text"
                                                class="form-control form-control-solid" />
                                            <span v-text="errors.goodSup" class="text-danger"></span>
                                        </div>
                                        <div class="col-2 fv-row">
                                            <label class="required form-label">SOMchai</label>
                                            <input @input="restrictToNumbers('somchai')" v-model="formData.somchai" type="text"
                                                class="form-control form-control-solid" />
                                            <span v-text="errors.somchai" class="text-danger"></span>
                                        </div>
                                        <div class="col-2 fv-row">
                                            <label class="required form-label">ข้าวปั้น</label>
                                            <input @input="restrictToNumbers('kaopan')" v-model="formData.kaopan" type="text"
                                                class="form-control form-control-solid" />
                                            <span v-text="errors.kaopan" class="text-danger"></span>
                                        </div>
                                        <div class="col-2 fv-row">
                                            <label class="required form-label">มีมง</label>
                                            <input @input="restrictToNumbers('meemong')" v-model="formData.meemong" type="text"
                                                class="form-control form-control-solid" />
                                            <span v-text="errors.meemong" class="text-danger"></span>
                                        </div>
                                        <div class="col-2 fv-row">
                                            <label class="required form-label">Marwell224</label>
                                            <input @input="restrictToNumbers('marwell224')" v-model="formData.marwell224" type="text"
                                                class="form-control form-control-solid" />
                                            <span v-text="errors.marwell224" class="text-danger"></span>
                                        </div>
                                        <div class="col-2 fv-row">
                                            <label class="required form-label">TT5</label>
                                            <input @input="restrictToNumbers('tt5')" v-model="formData.tt5" type="text"
                                                class="form-control form-control-solid" />
                                            <span v-text="errors.tt5" class="text-danger"></span>
                                        </div>
                                        <div class="col-2 fv-row">
                                            <label class="required form-label">Little Cactus</label>
                                            <input @input="restrictToNumbers('littleCactus')" v-model="formData.littleCactus" type="text"
                                                class="form-control form-control-solid" />
                                            <span v-text="errors.littleCactus" class="text-danger"></span>
                                        </div>
                                        <div class="col-2 fv-row">
                                            <label class="required form-label">KETO Food</label>
                                            <input @input="restrictToNumbers('ketoFood')" v-model="formData.ketoFood" type="text"
                                                class="form-control form-control-solid" />
                                            <span v-text="errors.ketoFood" class="text-danger"></span>
                                        </div>
                                        <div class="col-2 fv-row">
                                            <label class="required form-label">อาหารเสริมดี จ๋า</label>
                                            <input @input="restrictToNumbers('supplement')" v-model="formData.supplement" type="text"
                                                class="form-control form-control-solid" />
                                            <span v-text="errors.supplement" class="text-danger"></span>
                                        </div>
                                        <div class="col-2 fv-row">
                                            <label class="required form-label">marinee_y</label>
                                            <input @input="restrictToNumbers('marineeY')" v-model="formData.marineeY" type="text"
                                                class="form-control form-control-solid" />
                                            <span v-text="errors.marineeY" class="text-danger"></span>
                                        </div>
                                        <div class="col-2 fv-row">
                                            <label class="required form-label">TT6</label>
                                            <input @input="restrictToNumbers('tt6')" v-model="formData.tt6" type="text"
                                                class="form-control form-control-solid" />
                                            <span v-text="errors.tt6" class="text-danger"></span>
                                        </div>
                                        <div class="col-2 fv-row">
                                            <label class="required form-label">Myorder</label>
                                            <input @input="restrictToNumbers('myorder')" v-model="formData.myorder" type="text"
                                                class="form-control form-control-solid" />
                                            <span v-text="errors.myorder" class="text-danger"></span>
                                        </div>
                                        <div class="col-2 fv-row">
                                            <label class="required form-label">Line OA</label>
                                            <input @input="restrictToNumbers('lineOa')" v-model="formData.lineOa" type="text"
                                                class="form-control form-control-solid" />
                                            <span v-text="errors.lineOa" class="text-danger"></span>
                                        </div>

                                        <div class="w-100 d-flex justify-content-end align-items-center">
                                            <button class="btn btn-primary w-200px" @click="savePage()">บันทึก</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</body>
<script>
    window.csrfToken = {{.csrf_token }};
</script>
{{- template "resource-js" -}}
<script src="/page-chat/js/services.js" type="module"> </script>
<script src="/page-chat/js/index.js" type="module"> </script>

</html>